<li class="tweet">
    <div class="container-fluid">
      <div class="row">
        <aside class="col-xs-3 col-sm-2">
          <img src="imgs/elTincho.png" class="img-responsive user-icon"/>
            </aside>
        <section class="col-xs-9 col-sm-10">
          <p> <%=post.username%>:</br><%=post.message%><br></p>
          <p class="tweet-btn">
            <button type="button" class="tweet-btn"><i class="icon-hand-left"></i></button>
            <button type="button" class="tweet-btn"><i class="icon-rotate-left"></i></button>
            <button type="button" class="tweet-btn"><i class="icon-star"></i></button>
          </p>
        </section>
      </div>
    </div>
  </li>
